<section id="posting-list-sidebar">
    <ul>
        {{#each userPosts as |post|}}
        <a href="/specificPost">
        <li>
            <h3>{{post.user.first_name}} {{post.user.last_name}}</h3>
            <p>{{post.post_title}}</p>
        </li>
        </a>
        {{/each}}
    </ul>
    
</section>