<h3>Most Recent Posting</h3>
<h4>
    {{posts.post_title}}
    <span class="author">Posted by {{posts.author}}</span>
    <span class="date-posted">{{posts.createdAt}}</span>
</h4>
<p>
    {{posts.post_bio}}
</p>