<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RE-Connect</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/stylesheet.css">
</head>
<body>
    <header>
        <img src="./images/REConnect-logo.svg" alt="logo for tha company re-connect">
        <nav>
            <section id="navigation-links">
                <a class="nav-btn" href="/">Home</a>
                <a class="nav-btn" href="/posts">Postings</a>
                <a class="nav-btn" href="/families">Families</a>
            </section>
            <section>
                {{#if logged_in}}
<<<<<<< HEAD
                <button href="/userProfile" class="nav-btn" id="useProf">Profile</button>
                <button href="/logout" class="nav-btn" id="logout-btn">LogOut</button>
=======
                <a href="/profile" class="nav-btn">Profile</a>
                <button class="nav-btn" id="logout-btn">LogOut</button>
>>>>>>> 9233ee7d673aa72b57185253a35880f85322cfb5
                {{else}}
                <a href="/login" class="nav-btn">Log In</a>
                {{/if}}
                <input type="text" data-searchBar="search-context" placeholder="Search Here.">
                <button type="submit" data-searchBar="search-submit"></button>
            </section>
        </nav>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>
        <h6>This project was created and developed by:</h6>
        <ul>
            <li><a href="http://github.com/aclelandx">Adam Cleland</a></li>
            <li><a href="http://github.com/ckyser1">Cody Kyser</a></li>
            <li><a href="http://github.com/nathanrusselldev">Nate Russell</a></li>
        </ul>
    </footer>

        {{#if logged_in}}
            <script src="./js/logout.js"></script>
            <script src="./js/userProfile.js"></script>
        {{/if}}
</body>
</html>