{{!-- Have this contain the background hero image along with text content for the landing page of the document. --}}
<section id="hero-section">
    <h1>
        RECONNECT
    </h1>
    <h2>
        Our primary mission is to help families re-connect through the power of the web.
    </h2>
</section>
{{!-- Have the most recent post that has been added to the application displayed here on the front page being rendered from the home --}}
<section id="recentposting">
    {{> recentPosting}}
</section>
