<section id="new-post-container">
    <form id="new-post-form">
        <label for="post-title">Title of your Posting</label>
        <input name="post-bio" type="text" id="post-title">
        <label for="post-body">Post Content</label>
        <input name="post-body" type="text" id="post-bio">
        <input type="submit">
    </form>
</section>
<script src="./js/newPost.js"></script>