<section id="profile-header">
    <h2>
        {{user.email}}
    </h2>
</section>
<article id="profile-container">
    <section id="profile-left">
        <img src="./images/profilePlaceholder.png" alt="placeholder for the profile icon.">
        <button class="profile-btn">Edit Profile</button>
    </section>
    <section id="profile-right">
        <h3 id="profile-name">{{user.first_name}} {{user.last_name}}</h3>
        <p id="about-me">{{post.post_bio}}</p>
        <button id="active-post-btn">active post placeholder</button>
        <button id="family-btn">family placeholder</button>
    </section>
</article>
<section id="profile-active-post">
    {{> specificPost}}
</section>
