<section id="profile-header">
    <h2>
        {{user.email}}
    </h2>
</section>
<article id="profile-container">
    <section id="profile-left">
        <img src="./images/profilePlaceholder.png" alt="placeholder for the profile icon.">
        <button class="profile-btn">Edit Profile</button>
    </section>
    <section id="profile-right">

    </section>
</article>
